<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
  <title>Главная</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <link th:href="@{/resources/css/style.css}" rel="stylesheet" type="text/css">
</head>
<body>
<div>
  <!-- Отображение имени пользователя, если он авторизован -->
  <h3 th:text="${#authentication.name}">Имя пользователя</h3>

  <!-- Ссылки для неавторизованных пользователей -->
  <div th:authorize="!isAuthenticated()">
    <h4><a th:href="@{/login}">Войти</a></h4>
    <h4><a th:href="@{/registration}">Зарегистрироваться</a></h4>
  </div>

  <!-- Ссылки для авторизованных пользователей -->
  <div th:authorize="isAuthenticated()">
    <h4><a th:href="@{/logout}">Выйти</a></h4>
  </div>

  <!-- Общедоступные ссылки -->
  <h4><a th:href="@{/news}">Новости (только пользователь)</a></h4>
  <h4><a th:href="@{/admin}">Пользователи (только админ)</a></h4>
</div>
</body>
</html>
